In [1]:
from crawler import *

In [2]:
tsla = stockInfo("TSLA")

In [3]:
tsla.lastest()

successful connect to db:  Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'stockHistoryPrice')
2018/12/18
2018-12-18 00:00:00

In [4]:
tsla.lastestDate

datetime.datetime(2018, 12, 18, 0, 0)

In [5]:
tsla.curDate

'2018/12/18'

In [6]:
type(tsla.curDate)

str

In [7]:
tsla.getFromIEX(tsla.lastestDate, tsla.curDate)

                 date    open    high     low   close   volume
date
2018-12-18 2018-12-18  350.54  351.55  333.69  337.03  7099999

In [8]:
tsla.data

                 date    open    high     low   close   volume
date
2018-12-18 2018-12-18  350.54  351.55  333.69  337.03  7099999

In [9]:
tsla.date

In [10]:
tsla.data

                 date    open    high     low   close   volume
date
2018-12-18 2018-12-18  350.54  351.55  333.69  337.03  7099999

In [11]:
temp = tsla.data

In [12]:
temp["date"] = pd.to_datetime(temp.index)

In [13]:
temp

                 date    open    high     low   close   volume
date
2018-12-18 2018-12-18  350.54  351.55  333.69  337.03  7099999

In [14]:
tsla.data

                 date    open    high     low   close   volume
date
2018-12-18 2018-12-18  350.54  351.55  333.69  337.03  7099999

In [15]:
tsla.update()

successful connect to db:  Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'stockHistoryPrice')
company name is  Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'stockHistoryPrice'), 'tsla')
                 date    open    high     low   close   volume
date
2018-12-18 2018-12-18  350.54  351.55  333.69  337.03  7099999
Empty DataFrame
Columns: [date, open, high, low, close, volume]
Index: []
lastest date!

In [ ]:
amzn = stockInfo